* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.ball {
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.balls-sect {
  margin: auto;
  width: fit-content;
}

.div-score {
  display: flex;
  justify-content: center;
}


.background {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightcyan;
  margin: auto;
  background-image: url('./images/color-wallpaper.jpg');
  background-size: cover;
  height: 100vh;
  padding-top: 10%;
}

.scores {
  margin: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightcyan;
  font-size: larger;
}

h1 {
  margin: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightcyan;
  font-size: larger;
  font-size: 30px;
}

h2 {
  margin: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightcyan;
  font-size: larger;
}

#reset-game {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin: 15px;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#reset-game:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#reset-game:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#reset-game:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
