body {
  text-align: center;
}

.ball {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.balls-sect {
  margin: auto;
  width: fit-content;
}
